body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-items ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.res-card{
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.res-logo{
    width: 100%;
}

.filter-btn{
    margin: 20px;
}

.filter-btn, .res-container{
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.search-box, .search-btn{
    padding: 10px;
    /* font-size: 16px; */
}

.filter{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    background: rgba(128, 128, 128, 0.322);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 5px;
}

.shimmer-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 20px;
}